<h1>Editing newsletter</h1>

<%= render "form", newsletter: @newsletter %>

<br>

<div>
  <%= link_to "Show this newsletter", @newsletter %> |
  <%= link_to "Back to newsletters", newsletters_path %>
</div>
