<p style="color: green"><%= notice %></p>

<h1>Newsletters</h1>

<div id="newsletters">
  <% @newsletters.each do |newsletter| %>
    <%= render newsletter %>
    <p>
      <%= link_to "Show this newsletter", newsletter %>
    </p>
  <% end %>
</div>

<%= link_to "New newsletter", new_newsletter_path %>
